.Inactive-button {
  background-color: transparent;
  color: #f8fafc;
  border: 1px solid #f3aa4e;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  margin-right: 10px;
}
.active-button {
  background-color: #f3aa4e;
  color: #f8fafc;
  border: none;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  margin-right: 10px;
}
